@font-face {
    font-family: HurmeGeometricSans2-Regular;
    src: url(hurmegeometricsans2_regular.ttf);
    font-weight: 400;
    font-style: normal;
}

body{
	background-color: #424242;
	font-size: 16px;
	font-family: HurmeGeometricSans2-Regular, sans-serif;
	margin: 0;
	padding: 0;
}

header{
	padding: 5px 0;
	position: relative;
	box-sizing: border-box;
	color: #fff;
	width: 1024px;
	margin: 0 auto;
}

h3{
	color: #E0E0E0;
}

header h1,
header p{
	display: inline-block;
}

header h1{
	font-size: 1.1em;
}

header p{
	margin-left: 20px;
}

header span{
	position: absolute;
	top: 10px;
	right: 0;
}

header img{
	height: 32px;
	vertical-align: middle;
	margin-right: 15px;
}

header ul{
	display: inline-block;
	padding-left: 30px;
}

header li{
	list-style: none;
	cursor: pointer;
	display: inline-block;
	margin-right: 30px;
}

header li a,
header li a:visited,
header li a:active{
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}

table{
	width: 100%;
	border-collapse: collapse;
}

td{
	padding: 10px 10px 10px 0;
	color: #E0E0E0;
	border-bottom: 1px solid #757575;
}

td img{
	width: 16px;
	vertical-align: middle;
	text-align: center;
	line-height: 16px;
	margin-top: -3px;
}

canvas{
	margin-bottom: 25px;
	padding-bottom: 50px;
	border-bottom: 1px solid #616161;
}

.table-footer{
	float: right;
}

.table-footer p,
.table-footer img{
	display: inline-block;
}

.table-footer img{
	width: 32px;
	vertical-align: middle;
	margin-top: -2px;
}

.td-data{
	text-align: right;
}

#count{
	padding: 5px 0;
	color: #EEEEEE;
	font-size: 16px;
	clear: both;
	margin: 0;
}

.main{
	width: 100%;
	margin: 0 auto;
}

.content{
	margin: 20px auto;
	width: 1024px;
}

.head{
	background-color: #9C27B0;
	width: 100%;
	box-shadow: 0 2px 5px #000;
}